{% extends 'poster/base.html' %}
{% block content %}
<h1>Art 4</h1>
<img src="/media/redbrain.png" width="700" height="500">
	{% for post in posts %}
	<br>
	
	<div class="card">
		<div class="card_header">
			<div class="profile_image">
				
			</div>
			<div class="post_info">
				<div class="post_name">{{ post.author }}</div>
				<div class="post_location">London Ontario</div>
			</div>
			<div class="post_options"><i class="fas fa-ellipsis-h"></i></div>
		</div>
		<div class="post_image">
			{% if post.image %}
			<img src="{{ post.image.url }}" alt="">
			{% endif %}
		</div>
		<div class="engagement">
			<a href=""><i class="far fa-heart"></i></a>
			<a href=""><i class="far fa-comment"></i></a>
			<a href=""><i class="far fa-share-square"></i></a>
			<a href=""><i class="far fa-bookmark"></i></a>
	</div>
	<div class="likes">
		<a href="">12</a>
	</div>
	<div class="caption">
		<a href=""><h2>{{post.author}}</h2></a>
		<span> <p> {{post.caption}} </p> </span>
	</div>
	<div class="time_posted">
		{{ post.created_date | timesince }} ago
	</div>
</div>


	{% endfor %}

<!-- begin wwww.htmlcommentbox.com -->
 <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Form</a> is loading comments...</div>
 <link rel="stylesheet" type="text/css" href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
 <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24wpLbkkJlgz3%2FEO0Cgy6V5."+"&opts=16850&num=10&ts=1582256084247");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
<!-- end www.htmlcommentbox.com -->
{% endblock %}